In [1]:
import os
import glob
import pandas as pd

In [3]:
work_dir = "/home/galaxy/project/m6AQTL/2019_10_10/transcriptome_snp/SNPiR/shell/HeLa_cell/combined_results/results/validation_result/m6AVar"
os.chdir(work_dir)

In [9]:
hela_cis = "m6AQTL_cis_linear_filter.txt"
m6avar_cis = "m6avar_snp.txt"
df_hela = pd.read_table(hela_cis, sep="\t", header=None)
df_m6avar = pd.read_table(m6avar_cis, sep="\t", header=None)

In [7]:
df_hela.head()

,0,1,2,3,4,5
0,chr17:400389,chr17:1302126-1302174,-346.189575,-345.482079,5.517077e-18,6.994581e-12
1,chr17:404300,chr17:1302126-1302174,-346.189575,-345.482079,5.517077e-18,6.994581e-12
2,chr17:407465,chr17:1302126-1302174,-346.189575,-345.482079,5.517077e-18,6.994581e-12
3,chr17:408125,chr17:1302126-1302174,-346.189575,-345.482079,5.517077e-18,6.994581e-12
4,chr17:408873,chr17:1302126-1302174,-346.189575,-345.482079,5.517077e-18,6.994581e-12

In [10]:
df_m6avar.head()

                 0
0  chr10:100003916
1  chr10:100004052
2  chr10:100011457
3  chr10:100013348
4  chr10:100013367

In [11]:
hela_list = df_hela.iloc[:, 0].tolist()
print(hela_list[0])
m6avar_list = df_m6avar.iloc[:, 0].tolist()
print(m6avar_list[0])

chr17:400389
chr10:100003916

In [13]:
count = 0
for x in hela_list:
    if x in m6avar_list:
        count += 1
        print(x)
print(count, count/len(hela_list), count/len(m6avar_list))

chr19:14675072
chr9:139693596
chr9:139694569
chr9:139693596
chr9:139694569
chr1:183112041
chr1:183112505
chr1:1233431
chr1:1234057
chr1:1233431
chr1:1234057
chr16:58314598
chr1:1233431
chr1:1234057
chr22:24813694
chr1:1233431
chr1:1234057
chr9:139693596
chr9:139694569
chr1:1233431
chr1:1234057
chr20:37079237
chr9:139693596
chr9:139694569
chr1:1233431
chr1:1234057
chr20:37079237
chr1:115601528
chr15:82443939
chr19:14675072
chr9:139693596
chr9:139694569
chr9:130700727
33 0.0019149306562989614 0.00011227506710986965

In [3]:
#### 
work_dir = "/home/galaxy/project/m6AQTL/2019_10_10/transcriptome_snp/SNPiR/shell/HeLa_cell/results/PE/results/input_snp/SNP_matrix/matrix_data/m6aVar_db"
os.chdir(work_dir)

In [11]:
raw_file = "m6avar.txt"
df = pd.read_table(raw_file, sep="\t")
df_sub = df[["Chromosome", "Position", "Confidence_Level", "m6A_Function", "Rs_ID", "SNP_Chromosome", "Start_position", "Sample_Information", "Sample_PeakID"]]
print(df_sub.head())

/home/galaxy/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Chromosome   Position Confidence_Level     m6A_Function        Rs_ID  \
0       chr1   22356993    miCLIP:(High)  Functional Loss  rs796168639
1       chr3  196670271    miCLIP:(High)  Functional Loss  rs867970992
2       chr3  196670271    miCLIP:(High)  Functional Loss  rs181749993
3       chr3  196670271    miCLIP:(High)  Functional Loss  rs181749993
4       chr4    6676735    miCLIP:(High)  Functional Loss  rs868142670

  SNP_Chromosome  Start_position  \
0           chr1        22356993
1           chr3       196670270
2           chr3       196670272
3           chr3       196670272
4           chr4         6676735

                                  Sample_Information  \
0  A549;HepG2 cells;HeLa;human embryonic stem cel...
1                                               A549
2                                               A549
3                                               A549
4  A549;hek293.sysy.CITS;HepG2 cells;HeLa;GM12878...

                                       Sample_PeakID
0  chr1:22356618..22357430;chr1:22356591..2235757...
1                                                NaN
2                                                NaN
3                                                NaN
4  chr4:6676375..6677939;chr4:6676465..6677937;ch...

In [12]:
df_hela = df_sub[df_sub["Sample_Information"].str.contains("HeLa", na=False)]
print(len(df_hela))
df_hela.head()

25605

,Chromosome,Position,Confidence_Level,m6A_Function,Rs_ID,SNP_Chromosome,Start_position,Sample_Information,Sample_PeakID
0,chr1,22356993,miCLIP:(High),Functional Loss,rs796168639,chr1,22356993,A549;HepG2 cells;HeLa;human embryonic stem cel...,chr1:22356618..22357430;chr1:22356591..2235757...
4,chr4,6676735,miCLIP:(High),Functional Loss,rs868142670,chr4,6676735,A549;hek293.sysy.CITS;HepG2 cells;HeLa;GM12878...,chr4:6676375..6677939;chr4:6676465..6677937;ch...
11,chr11,65267747,miCLIP:(High),Functional Loss,rs747212980,chr11,65267747,A549;CD8T;hek293.abcam.CIMS;hek293.sysy.CITS;H...,chr11:65266727..65268782;chr11:65267643..65268...
12,chr11,65267809,miCLIP:(High),Functional Loss,rs776053831,chr11,65267809,A549;CD8T;hek293.abcam.CIMS;HepG2 cells;HeLa;h...,chr11:65266727..65268782;chr11:65267643..65268...
13,chr11,65267809,miCLIP:(High),Functional Loss,rs746122827,chr11,65267810,A549;CD8T;hek293.abcam.CIMS;HepG2 cells;HeLa;h...,chr11:65266727..65268782;chr11:65267643..65268...

In [5]:
a_file = "/home/galaxy/project/m6AQTL/2019_10_10/transcriptome_snp/SNPiR/shell/HeLa_cell/combined_results/results/input_snp/all_rs.txt"
df_a = pd.read_table(a_file, sep=":", header=None)
df_a["snpid"] = df_a.iloc[:, 0].astype(str) + ":" + df_a.iloc[:, 1].astype(str)
rs_list = df_a["snpid"].tolist()
print(rs_list[0])

b_file = "/home/galaxy/project/m6AQTL/2019_10_10/transcriptome_snp/SNPiR/shell/HeLa_cell/combined_results/results/validation_result/m6AVar/cis.txt"
df_b = pd.read_table(b_file)
hela_list = df_b["SNP"].tolist()
print(hela_list[0])

c_list = list(set(hela_list).intersection(set(rs_list)))
print(len(hela_list), len(rs_list), len(c_list))

1:13116
17:400389
171401 1901716 76422

#### CMplot

In [16]:
raw_file = "m6AQTL_cis_linear_filter.txt"
title = ["SNP","gene","beta","t-stat","p-value","FDR"]
df_raw = pd.read_table(raw_file, sep="\t", header=None)
df_raw.columns = title
df_raw.head()

,SNP,gene,beta,t-stat,p-value,FDR
0,chr17:400389,chr17:1302126-1302174,-346.189575,-345.482079,5.517077e-18,6.994581e-12
1,chr17:404300,chr17:1302126-1302174,-346.189575,-345.482079,5.517077e-18,6.994581e-12
2,chr17:407465,chr17:1302126-1302174,-346.189575,-345.482079,5.517077e-18,6.994581e-12
3,chr17:408125,chr17:1302126-1302174,-346.189575,-345.482079,5.517077e-18,6.994581e-12
4,chr17:408873,chr17:1302126-1302174,-346.189575,-345.482079,5.517077e-18,6.994581e-12

In [17]:
df_raw["chr_name"] = df_raw["SNP"].str.split(":").str[0]
df_raw["position"] = df_raw["SNP"].str.split(":").str[1]

In [19]:
df_cm = df_raw[["SNP", "chr_name", "position", "p-value", "FDR"]]
print(df_cm.head())
df_cm.to_csv("cmplot/HeLa_cis.txt", sep="\t", index=False)

            SNP chr_name position       p-value           FDR
0  chr17:400389    chr17   400389  5.517077e-18  6.994581e-12
1  chr17:404300    chr17   404300  5.517077e-18  6.994581e-12
2  chr17:407465    chr17   407465  5.517077e-18  6.994581e-12
3  chr17:408125    chr17   408125  5.517077e-18  6.994581e-12
4  chr17:408873    chr17   408873  5.517077e-18  6.994581e-12